{% extends 'baseadmin.html.twig' %}

{% block content %}
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
<div class="col-sm-12 col-md-6">
    <div class="form-group">
        <label for="inputname" class="control-label col-form-label"></label>
        {{ form_widget(edit_form.name,{'attr':{'class':'form-control'}} ) }}
    </div>
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
