{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Idres</th>
                <td>{{ reservation.idRes }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ reservation.position }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{% if reservation.datedebut %}{{ reservation.datedebut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if reservation.datefin %}{{ reservation.datefin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'idRes': reservation.idRes }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
